openapi: 3.0.3
info:
  title: NestHub Solution API
  description: |
    Public API for NestHub Solution — Jaipur's top-rated web development and freelancing agency.
    Base URL: https://nesthubsolution.in
    Contact: contact@nesthubsolution.in | +91 8188941304
  version: "1.0.0"
  contact:
    name: NestHub Solution
    email: contact@nesthubsolution.in
    url: https://nesthubsolution.in
  license:
    name: All Rights Reserved
    url: https://nesthubsolution.in

servers:
  - url: https://nesthubsolution.in
    description: Production server

paths:
  /api/apply:
    post:
      operationId: submitCareerApplication
      summary: Submit a career application to NestHub Solution
      description: |
        Submit a job application for an open position at NestHub Solution.
        Current openings:
          - bde: Business Development Executive (full-time, Jaipur, on-site/hybrid)
          - sde-intern: SDE Intern (3–6 months, remote or Jaipur)
        On success, the applicant receives a confirmation email and the NestHub team is notified.
      tags:
        - Careers
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
                - email
                - position
                - coverLetter
              properties:
                name:
                  type: string
                  description: Full name of the applicant
                  example: Priya Sharma
                email:
                  type: string
                  format: email
                  description: Email address of the applicant
                  example: priya@example.com
                phone:
                  type: string
                  description: Phone number (optional, with country code)
                  example: "+91 9876543210"
                position:
                  type: string
                  enum:
                    - bde
                    - sde-intern
                  description: >
                    Role to apply for.
                    'bde' = Business Development Executive (full-time, Jaipur).
                    'sde-intern' = Software Development Engineer Intern (3–6 months, remote/Jaipur).
                  example: sde-intern
                portfolioLink:
                  type: string
                  format: uri
                  description: Link to portfolio, LinkedIn profile, or GitHub (optional)
                  example: https://github.com/priya-dev
                coverLetter:
                  type: string
                  description: Cover letter or motivation statement (minimum 50 characters)
                  minLength: 50
                  example: "I am a passionate React developer with 2 years of experience building modern web applications. I admire NestHub Solution's work on Vedyara and would love to contribute to similar impactful projects."
      responses:
        "200":
          description: Application submitted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
        "400":
          description: Bad request — required fields missing or invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          description: Server error — failed to send email notification
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /api/health:
    get:
      operationId: healthCheck
      summary: Check API health
      description: Returns the operational status of the NestHub Solution API server.
      tags:
        - System
      responses:
        "200":
          description: API is running normally
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  service:
                    type: string
                    example: nesthub-api

components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        message:
          type: string
          example: "Missing required fields: name, email"
